.atoms-module_flex_3DCW-0eq {
    display: flex
}

.atoms-module_block_md4gSrcu {
    display: block
}

.atoms-module_hidden_oVqyi1RA {
    display: none
}

.atoms-module_alignCenter_4pCpghSp {
    align-items: center
}

.atoms-module_gap4_-ZE-xH-X {
    gap: 4px
}

.atoms-module_gap8_S9UNRtTd {
    gap: 8px
}

.atoms-module_gap16_xzBC38Ou {
    gap: 16px
}

.atoms-module_relative_akoQRNue {
    position: relative
}

.atoms-module_desktopOnly_-q1pODQd {
    display: none
}

@media (min-width: 1071px) {
    .atoms-module_desktopOnly_-q1pODQd {
        display:unset
    }
}

.atoms-module_mobileOnly_cgycZy-J {
    display: unset
}

@media (min-width: 1071px) {
    .atoms-module_mobileOnly_cgycZy-J {
        display:none
    }
}

.AlphabetNav-module_root_Np8Ir1YQ {
    margin-bottom: 48px
}

.AlphabetNav-module_heading_F5II3056 {
    font: 500 .875rem/1.5rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    color: #201515;
    text-align: center;
    margin-bottom: 12px
}

.AlphabetNav-module_list_3RrTHOgs {
    max-width: 384px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px 16px
}

@media (min-width: 768px) {
    .AlphabetNav-module_list_3RrTHOgs {
        max-width:none
    }
}

.AlphabetNav-module_link_oqEGGfHB {
    font: 400 .875rem/1.5rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    color: #413735;
    text-decoration: none
}

.AlphabetNav-module_link_oqEGGfHB:hover,.AlphabetNav-module_link_oqEGGfHB:focus-visible {
    color: #503ebd;
    text-decoration: underline
}

.AlphabetNav-module_link_oqEGGfHB:focus-visible {
    outline: .125rem solid #695be8;
    outline-offset: 4px
}

.Footer-module_root_dw8Qprgd {
    width: 100%;
    grid-area: footer;
    padding: 40px 20px;
    box-sizing: border-box;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--zapier-footer-bg)
}

.Footer-module_content_nfdVthfJ {
    max-width: 400px;
    margin: 0 auto
}

@media (min-width: 640px) {
    .Footer-module_content_nfdVthfJ {
        max-width:1200px
    }
}

.Footer-module_section_s57Kd2li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px
}

@media (min-width: 640px) {
    .Footer-module_section_s57Kd2li {
        flex-direction:row;
        align-items: flex-start;
        gap: 48px
    }
}

@media (min-width: 768px) {
    .Footer-module_section_s57Kd2li {
        align-items:center
    }
}

.Footer-module_section_s57Kd2li+.Footer-module_section_s57Kd2li {
    margin-top: 32px
}

.Footer-module_list_JLDpelhX {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px 12px;
    list-style: none
}

@media (min-width: 640px) {
    .Footer-module_list_JLDpelhX {
        justify-content:flex-end;
        gap: 8px 16px
    }
}

.Footer-module_resourceLink_iR9M2xlZ,.Footer-module_legalLink_ihZscHLn {
    text-decoration: none
}

.Footer-module_resourceLink_iR9M2xlZ:hover,.Footer-module_resourceLink_iR9M2xlZ:focus-visible,.Footer-module_legalLink_ihZscHLn:hover,.Footer-module_legalLink_ihZscHLn:focus-visible {
    color: #503ebd;
    text-decoration: underline
}

.Footer-module_resourceLink_iR9M2xlZ:focus-visible,.Footer-module_legalLink_ihZscHLn:focus-visible {
    outline: .125rem solid #695be8;
    outline-offset: 4px
}

.Footer-module_resourceLink_iR9M2xlZ {
    font: 500 .875rem/1.5rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    color: #201515
}

.Footer-module_legalLink_ihZscHLn {
    color: inherit
}

button.Footer-module_legalLink_ihZscHLn {
    font: inherit;
    background: none;
    border: none;
    cursor: pointer
}

.Footer-module_social_ZOmArTUH {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px 12px;
    font: 400 .875rem/1.5rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif
}

@media (min-width: 640px) {
    .Footer-module_social_ZOmArTUH {
        flex-direction:row
    }
}

.Footer-module_socialLabel_q3dVacIO {
    font: 400 .875rem/1.5rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    color: #574e4c;
    width: max-content
}

.Footer-module_socialList_-cfdcwQT {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none
}

.Footer-module_socialLink_9CTOD6xT {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b5b2aa;
    border-radius: 14px;
    box-sizing: border-box
}

.Footer-module_socialLink_9CTOD6xT:hover {
    background-color: var(--social-link-background-color)
}

.Footer-module_socialLink_9CTOD6xT:focus-visible {
    outline: .125rem solid #695be8;
    outline-offset: 2px
}

.Footer-module_socialIcon_ro3FzoVh {
    width: 16px;
    height: 16px;
    object-fit: contain
}

.Footer-module_legal_Xnhk3YWo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font: 400 .875rem/1.5rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    color: #574e4c
}

@media (min-width: 480px) {
    .Footer-module_legal_Xnhk3YWo {
        flex-direction:row;
        gap: 16px
    }
}

.Footer-module_logo_Shi6M7tj:focus-visible {
    outline: .125rem solid #695be8;
    outline-offset: 8px
}

.SEOLinks-module_root_xmwqBdVB {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 48px
}

@media (min-width: 768px) {
    .SEOLinks-module_root_xmwqBdVB {
        flex-direction:row;
        align-items: flex-start;
        justify-content: space-between
    }
}

.SEOLinks-module_section_ZS6hfC1b {
    text-align: center
}

@media (min-width: 768px) {
    .SEOLinks-module_section_ZS6hfC1b {
        max-width:224px;
        text-align: left
    }
}

.SEOLinks-module_heading_lkmyXY66 {
    font: 500 .875rem/1.5rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    color: #201515;
    margin-bottom: 12px
}

.SEOLinks-module_list_tOP7lk2U {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none
}

.SEOLinks-module_link_-kz98kga {
    font: 400 .875rem/1.5rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    color: #413735;
    text-decoration: none
}

.SEOLinks-module_link_-kz98kga:hover,.SEOLinks-module_link_-kz98kga:focus-visible {
    color: #503ebd;
    text-decoration: underline
}

.SEOLinks-module_link_-kz98kga:focus-visible {
    outline: .125rem solid #695be8;
    outline-offset: 4px
}

.SEOLinks-module_button_yH-lAL9q {
    font: 400 .875rem/1.5rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    color: #413735;
    background: none;
    border: none;
    margin-top: 8px;
    text-decoration: underline;
    cursor: pointer
}

@media (hover: hover) {
    .SEOLinks-module_button_yH-lAL9q:hover,.SEOLinks-module_button_yH-lAL9q:focus-visible {
        color:#503ebd
    }

    .SEOLinks-module_button_yH-lAL9q:focus-visible {
        outline: .125rem solid #695be8;
        outline-offset: 4px
    }
}

.Avatar-module_image_1JRP-atM,.Avatar-module_initials_mBtUleCQ {
    width: 36px;
    height: 36px;
    border: .0625rem solid #d7d3c9;
    border-width: 1px;
    border-radius: 18px;
    transition: border-color .25s ease-out
}

.Avatar-module_image_1JRP-atM[data-selected=true],.Avatar-module_initials_mBtUleCQ[data-selected=true] {
    border-color: #695be8;
    outline: 1px solid #695be8
}

.Avatar-module_image_1JRP-atM {
    display: block;
    object-fit: cover
}

.Avatar-module_initials_mBtUleCQ {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #413735;
    color: #f9f7f3;
    font: 600 .875rem/1.5rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif
}

.AccountMenu-module_summary_JKbozLcP {
    border-radius: 20px;
    list-style: none;
    cursor: pointer
}

.AccountMenu-module_summary_JKbozLcP:focus-visible {
    outline: .125rem solid #695be8;
    outline-offset: 2px
}

.AccountMenu-module_summary_JKbozLcP::-webkit-details-marker {
    display: none
}

.AccountMenu-module_content_q9dF4g-C {
    min-width: 256px;
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    padding: 8px;
    background-color: #fffdf9;
    border: 1px solid #ece9df;
    border-radius: 4px;
    box-shadow: #0000001a 0 8px 32px
}

.AccountMenu-module_email_rb78eluQ {
    padding: 0 4px;
    margin-bottom: 8px;
    font: 400 .8125rem/1.25rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    text-align: center;
    color: #574e4c
}

.AccountMenu-module_list_BmoIsgb2 {
    max-height: 232px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style: none;
    overflow: auto
}

.AccountMenu-module_list_BmoIsgb2+.AccountMenu-module_list_BmoIsgb2 {
    padding-top: 8px;
    margin-top: 8px;
    border-top: 1px solid #d7d3c9
}

.AccountMenu-module_link_V-biy4oL {
    min-height: 36px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 8px;
    box-sizing: border-box;
    font-family: Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    color: #413735;
    border-radius: 4px;
    outline: none
}

.AccountMenu-module_link_V-biy4oL:hover {
    color: #413735;
    background-color: #f5f3eb
}

.AccountMenu-module_link_V-biy4oL.AccountMenu-module_selected_21Z44SyR {
    color: #503ebd;
    background-color: #f7f6fd
}

.AccountMenu-module_link_V-biy4oL:focus-visible {
    outline: .125rem solid #695be8;
    outline-offset: -2px
}

.AccountMenu-module_accountTextContainer_sdnZoEoJ {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

.AccountMenu-module_accountTextContainer_sdnZoEoJ>:last-child {
    font-weight: 400;
    line-height: 20px
}

.Button-module_root_RSLKls-N {
    height: 36px;
    padding: 8px 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ff4f00;
    color: #fffdf9;
    font: 600 .875rem/1.5rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    text-decoration: none;
    border-radius: 18px;
    box-sizing: border-box;
    transition: background-color .25s
}

.Button-module_root_RSLKls-N:hover {
    background-color: #cc3f00
}

.Button-module_root_RSLKls-N[data-full-width=true] {
    width: 100%
}

.Button-module_root_RSLKls-N[data-size=large] {
    height: 44px;
    border-radius: 22px
}

.Button-module_root_RSLKls-N[data-variant=secondary] {
    background-color: transparent;
    color: #201515;
    border: 1px solid #201515;
    transition: all .25s
}

.Button-module_root_RSLKls-N[data-variant=secondary]:hover {
    color: #201515bf;
    border-color: #20151540
}

:root {
    --zapier-header-height: 56px;
    --zapier-header-z-index: 1000;
    --zapier-header-bg: #fbfaf8;
    --zapier-footer-bg: #fbfaf8
}

.Header-module_root_Pe4MYpPz {
    width: 100%;
    height: var(--zapier-header-height, 56px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: var(--zapier-header-z-index, 1000);
    grid-area: header;
    padding: 0 16px 0 20px;
    box-sizing: border-box;
    background-color: var(--zapier-header-bg);
    border-bottom: 1px solid #ece9df;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media (min-width: 1071px) {
    .Header-module_root_Pe4MYpPz {
        padding:0 40px
    }
}

.Header-module_skip_RE2tmHaz {
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-inline:auto;padding: 2px 16px 8px;
    font: 400 .875rem/1.5rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    color: #fffdf9;
    background-color: #503ebd;
    border-radius: 0 0 4px 4px;
    outline: none;
    pointer-events: none;
    opacity: 0;
    z-index: 1
}

.Header-module_skip_RE2tmHaz:focus {
    opacity: 1;
    pointer-events: all
}

.Header-module_logo_xO2bWOoS:focus-visible {
    outline: .125rem solid #695be8;
    outline-offset: 8px
}

.Header-module_button_ZK2h09qX>a[data-color=brand][data-size=medium] {
    height: 36px;
    border-radius: 18px;
    font: 600 .8125rem/1.25rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif
}

.Header-module_button_ZK2h09qX>a[data-color=brand][data-size=medium]>span {
    padding: 0 20px
}

.Link-module_link_8hVWJnMA {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px;
    font-family: Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #413735;
    border-radius: 4px;
    outline: none
}

.Link-module_link_8hVWJnMA:hover,.Link-module_link_8hVWJnMA:focus-visible {
    background-color: #f5f3eb
}

.Link-module_link_8hVWJnMA:focus-visible {
    outline: .125rem solid #695be8;
    outline-offset: 2px
}

@media (min-width: 1071px) and (max-width: 1280px) {
    .Link-module_link_8hVWJnMA>:nth-child(2) {
        display:none
    }
}

.Tag-module_root_cJ2O-lnU {
    height: auto;
    padding: 0 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font: 500 .8125rem/1.25rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    text-align: center;
    color: #6f6765;
    border: .0625rem solid #b5b2aa;
    border-radius: 3px
}

.MobileNav-module_summary_IIqIcJuQ {
    display: flex;
    padding: 6px;
    margin-left: 4px;
    color: #413735;
    border-radius: 18px;
    list-style: none;
    cursor: pointer;
    background-color: #ece9df
}

@media (hover: hover) {
    .MobileNav-module_summary_IIqIcJuQ:hover {
        color:#201515
    }
}

.MobileNav-module_summary_IIqIcJuQ:focus-visible {
    outline: .125rem solid #695be8;
    outline-offset: 1px
}

.MobileNav-module_summary_IIqIcJuQ::-webkit-details-marker {
    display: none
}

.MobileNav-module_open_Mih8I5Te {
    display: flex
}

.MobileNav-module_root_Ac6QAhea[open] .MobileNav-module_open_Mih8I5Te,.MobileNav-module_close_DS2LPcB0 {
    display: none
}

.MobileNav-module_root_Ac6QAhea[open] .MobileNav-module_close_DS2LPcB0 {
    display: flex
}

.MobileNav-module_panel_0ZdT12Rl {
    --offset: calc( var(--zapier-banner-height, 0px) + var(--zapier-header-height, 56px) );
    width: 100%;
    height: calc(100vh - var(--offset));
    height: calc(100dvh - var(--offset));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    background-color: #fffdf9
}

@media (min-width: 640px) {
    .MobileNav-module_panel_0ZdT12Rl {
        width:512px;
        border-left: 1px solid #ece9df;
        box-shadow: calc(-100vw + 512px) 0 0 #2015151a
    }
}

.MobileNav-module_main_QKTFyNrK {
    padding: 0 20px 48px;
    overflow-y: auto
}

.MobileNav-module_list_rlk4gumE {
    list-style: none
}

.MobileNav-module_listItem_ZB6MgJRS+.MobileNav-module_listItem_ZB6MgJRS {
    border-top: 1px solid #f5f3eb
}

.MobileNav-module_item_nR2PqfIk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    font-family: Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #413735;
    text-decoration: none;
    padding: 16px 0
}

.MobileNav-module_item_nR2PqfIk.MobileNav-module_nested_9KhnraVf {
    padding: 12px 0;
    justify-content: flex-start
}

@media (hover: hover) {
    .MobileNav-module_item_nR2PqfIk:hover {
        color:#6f6765
    }
}

.MobileNav-module_dropdownSummary_OTYG7wu6 {
    list-style: none;
    cursor: pointer
}

.MobileNav-module_dropdownSummary_OTYG7wu6::-webkit-details-marker {
    display: none
}

.MobileNav-module_dropdownIndicator_Fa52Lyzq {
    display: flex;
    transition: transform .25s ease-in-out
}

.MobileNav-module_dropdown_lG-T5V5u[open] .MobileNav-module_dropdownIndicator_Fa52Lyzq {
    transform: rotate(-180deg)
}

.MobileNav-module_dropdownSection_wTlRpFzg {
    margin: 8px 0 20px 12px
}

.MobileNav-module_dropdownHeading_VPBVuJAV {
    font-family: "Degular Display",var(--zds-typography-heading-display, Helvetica),Helvetica,arial,sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    margin-bottom: 8px;
    color: #6f6765
}

.MobileNav-module_dropdownList_44Kjlzdg {
    list-style: none;
    padding-left: 12px;
    border-left: 1px solid #f5f3eb
}

.MobileNav-module_footer_ozFZmufy {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 20px 20px;
    background-color: #f9f7f3;
    border-top: .0625rem solid #d7d3c9
}

.MobileNav-module_footerList_eMiI-EI6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px 8px;
    list-style: none
}

.MobileNav-module_footerLink_NbFgTloa {
    display: flex;
    align-items: center;
    gap: 6px;
    font: 400 .875rem/1.5rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    color: #413735;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    outline: none
}

.MobileNav-module_footerLink_NbFgTloa:hover,.MobileNav-module_footerLink_NbFgTloa:focus-visible {
    background-color: #ece9df
}

.MobileNav-module_footerButtons_-pLohSmI {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.LanguageSelector-module_root_wJxZ-U9J {
    position: relative;
    display: block;
    height: 36px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    text-align: left;
    box-sizing: border-box
}

.LanguageSelector-module_button_y2qsvTbi {
    position: inherit;
    display: block;
    width: max-content;
    height: 100%;
    margin: auto;
    padding: 10px 8px 10px 10px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box
}

.LanguageSelector-module_button_y2qsvTbi:hover,.LanguageSelector-module_button_y2qsvTbi:active,.LanguageSelector-module_button_y2qsvTbi.LanguageSelector-module_open_euYKrG7f {
    background-color: #f5f3eb
}

.LanguageSelector-module_buttonContent_oqHDskOE {
    display: flex;
    align-items: center;
    height: 100%
}

.LanguageSelector-module_label_51PjGnzI {
    display: flex;
    flex: 1;
    color: #413735
}

.LanguageSelector-module_label_51PjGnzI.LanguageSelector-module_unavailable_9j846QME {
    color: #b5b2aa
}

.LanguageSelector-module_arrow_VY2euZvl {
    display: flex;
    margin-left: 4px;
    color: #413735;
    transition: transform .25s ease-in-out
}

.LanguageSelector-module_arrow_VY2euZvl.LanguageSelector-module_rotated_bXd9QxhO {
    transform: rotate(-180deg)
}

.LanguageSelector-module_list_R-5xxkB1 {
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    height: auto;
    margin: 0;
    padding: 5px;
    background-color: #fffdf9;
    border: 1px solid #ece9df;
    border-radius: 4px;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    transition: all .25s ease-in-out;
    box-sizing: inherit
}

.LanguageSelector-module_list_R-5xxkB1.LanguageSelector-module_open_euYKrG7f {
    top: calc(100% + 5px);
    opacity: 1;
    visibility: visible
}

@media (max-width: 1071px) {
    .LanguageSelector-module_list_R-5xxkB1 {
        height:120px;
        overflow: scroll
    }
}

.LanguageSelector-module_listItemWrapper_NUGK46bm {
    cursor: not-allowed
}

.LanguageSelector-module_listItem_82T5l3bC {
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    margin: 0;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box
}

.LanguageSelector-module_listItem_82T5l3bC:hover {
    background-color: #f5f3eb
}

.LanguageSelector-module_listItem_82T5l3bC.LanguageSelector-module_disabled_IiCwD2MQ {
    pointer-events: none
}

.LanguageSelector-module_listItem_82T5l3bC.LanguageSelector-module_disabled_IiCwD2MQ:hover {
    background-color: transparent
}

.SubmenuArticle-module_root_qedFZ1Fu {
    max-width: 384px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #413735;
    text-decoration: none
}

.SubmenuArticle-module_root_qedFZ1Fu:focus-visible {
    outline: .125rem solid #695be8;
    outline-offset: 4px
}

.SubmenuArticle-module_image_8e3JR3cL {
    width: 96px;
    flex-shrink: 0
}

.SubmenuArticle-module_title_6ZpMnNxD {
    font-family: Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #413735;
    margin-bottom: 4px
}

.SubmenuArticle-module_root_qedFZ1Fu:hover .SubmenuArticle-module_title_6ZpMnNxD {
    color: #ff4f00
}

.SubmenuArticle-module_description_A-0vIvs3 {
    font: 400 .8125rem/1.25rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    color: #574e4c
}

.SubmenuArticle-module_root_qedFZ1Fu:hover .SubmenuArticle-module_description_A-0vIvs3 {
    text-decoration: underline
}

.SubmenuList-module_subtleHeading_B1Vmy62f,.SubmenuList-module_strongHeading_QHIXyD9N {
    font-family: "Degular Display",var(--zds-typography-heading-display, Helvetica),Helvetica,arial,sans-serif;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px
}

.SubmenuList-module_subtleHeading_B1Vmy62f {
    font-size: 14px;
    text-transform: uppercase;
    color: #6f6765;
    margin-bottom: 16px
}

.SubmenuList-module_strongHeading_QHIXyD9N {
    font-size: 30px;
    letter-spacing: 1px;
    color: #201515;
    margin-bottom: 24px
}

.SubmenuList-module_list_YEbOYcq- {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none
}

.SubmenuList-module_link_xefbaqa7 {
    width: fit-content;
    max-width: 384px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    text-decoration: none;
    color: #201515
}

.SubmenuList-module_link_xefbaqa7:focus-visible {
    outline: .125rem solid #695be8;
    outline-offset: 4px
}

.SubmenuList-module_icon_1h4ccAAD {
    display: flex;
    color: #201515
}

.SubmenuList-module_icon_1h4ccAAD[data-color=orange] {
    color: #ff4f00
}

.SubmenuList-module_icon_1h4ccAAD[data-color=night] {
    color: #2b2358
}

.SubmenuList-module_icon_1h4ccAAD[data-color=moss] {
    color: #1f3121
}

.SubmenuList-module_icon_1h4ccAAD:not([data-background=none]) {
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f7f3
}

.SubmenuList-module_icon_1h4ccAAD[data-background=cream] {
    background-color: #fff3e6
}

.SubmenuList-module_icon_1h4ccAAD[data-background=bolt] {
    background-color: #f6ffdb
}

.SubmenuList-module_icon_1h4ccAAD[data-background=purple] {
    background-color: #f7f6fd
}

.SubmenuList-module_listItem_KN4VbC16:not(:last-child) .SubmenuList-module_icon_1h4ccAAD {
    margin-bottom: 8px
}

.SubmenuList-module_label_J8sNAfc3 {
    display: flex;
    gap: 6px;
    font-family: Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px
}

.SubmenuList-module_link_xefbaqa7:hover .SubmenuList-module_label_J8sNAfc3 {
    color: #ff4f00
}

.SubmenuList-module_description_v--G85zn {
    font: 400 .8125rem/1.25rem Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    color: #574e4c;
    margin-top: 4px
}

.SubmenuList-module_link_xefbaqa7:hover .SubmenuList-module_description_v--G85zn {
    text-decoration: underline
}

.SubmenuList-module_listItem_KN4VbC16:not(:last-child) .SubmenuList-module_description_v--G85zn {
    margin-bottom: 8px
}

.Submenu-module_root_BoW-D-ZP {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    position: absolute;
    top: 56px;
    left: 0;
    background-color: #fffdf9;
    border-bottom: 1px solid #ece9df;
    align-content: space-around;
    justify-content: center;
}

[open] .Submenu-module_root_BoW-D-ZP:after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #2015151a;
    z-index: -1;
    pointer-events: none
}

.Submenu-module_main_nVQBDcyi {
    width: 100%
}

.Submenu-module_main_nVQBDcyi:only-child {
    grid-column: 1/-1
}

.Submenu-module_mainContent_ty0jQwt5 {
    padding: 32px 40px 64px;
    box-sizing: border-box
}

@media (min-width: 1280px) {
    .Submenu-module_mainContent_ty0jQwt5 {
        padding:32px 64px 64px 160px
    }
}

.Submenu-module_aside_1qzqnFiW {
    min-width: 256px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-color: #f9f7f3
}

@media (min-width: 1280px) {
    .Submenu-module_aside_1qzqnFiW {
        padding:32px 40px
    }
}

.Submenu-module_header_Z1yUzQOY {
    max-width: 512px;
    margin-bottom: 40px
}

.Submenu-module_heading_zJ9RGmal {
    font-family: "Degular Display",var(--zds-typography-heading-display, Helvetica),Helvetica,arial,sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    color: #201515
}

.Submenu-module_description_JaFypvN1 {
    font-family: Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #413735;
    margin-top: 8px
}

.Submenu-module_sections_XX2GHWNy {
    display: flex;
    gap: 48px
}

.Submenu-module_footer_RN1Y7Vyf {
    padding: 20px 40px;
    border-top: 1px solid #ece9df
}

@media (min-width: 1280px) {
    .Submenu-module_footer_RN1Y7Vyf {
        padding-left:160px
    }
}

.Submenu-module_footerList_-NsF12ii {
    list-style: none;
    display: flex;
    gap: 32px
}

.Submenu-module_footerLink_9Jy4IGlQ {
    display: flex;
    gap: 6px;
    font-family: Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    color: #201515
}

.Submenu-module_footerLink_9Jy4IGlQ:hover {
    color: #ff4f00
}

.Submenu-module_footerLink_9Jy4IGlQ:focus-visible {
    outline: .125rem solid #695be8;
    outline-offset: 4px
}

.Dropdown-module_summary_Xbsnp-Dg {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px 8px 10px 10px;
    font-family: Inter,var(--zds-typography-base, Helvetica),Helvetica,arial,sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #413735;
    border-radius: 4px;
    list-style: none;
    cursor: pointer;
    outline: none
}

.Dropdown-module_summary_Xbsnp-Dg:hover,.Dropdown-module_summary_Xbsnp-Dg:focus-visible {
    background-color: #f5f3eb
}

.Dropdown-module_summary_Xbsnp-Dg:focus-visible {
    outline: .125rem solid #695be8;
    outline-offset: 2px
}

.Dropdown-module_summary_Xbsnp-Dg::-webkit-details-marker {
    display: none
}

.Dropdown-module_summary_Xbsnp-Dg:after {
    content: "";
    height: 4px;
    background-color: #ff4f00;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -9.5px;
    transition: width .25s ease-in-out
}

[open] .Dropdown-module_summary_Xbsnp-Dg:after {
    width: 100%
}

.Dropdown-module_indicator_oQwHfinM {
    display: flex;
    margin-left: 4px;
    transition: transform .25s ease-in-out
}

[open] .Dropdown-module_indicator_oQwHfinM {
    transform: rotate(-180deg)
}

.Nav-module_list_bCnfFR-g {
    display: flex;
    align-items: center;
    gap: 4px;
    list-style: none;
}

.Layout-module_root_qzPL-fKI {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "banner" "header" "main" "footer"
}

.Layout-module_banner_-ouynTI9 {
    grid-area: banner
}

.Layout-module_main_M31JNT3u {
    grid-area: main;
    position: relative
}
