<ul>
    <li>
        <details data-testid="nav-dropdown">
            <summary class="Dropdown-module_summary_Xbsnp-Dg" data-testid="nav-dropdown-summary"><span>Products</span><span
                    class="Dropdown-module_indicator_oQwHfinM"><svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg" size="16" class="zapier-zinnia-icons__icon__8f1EW1A1"
                        aria-hidden="false" role="img" data-name="arrowSmallDown" data-block="false" data-pointer-events="true"
                        data-animate-fill="true" style="--color:inherit">
                        <path d="M12 17.2999L19 11.4399V8.81995L12 14.6999L5 8.81995V11.4399L12 17.2999Z" fill="currentColor">
                        </path>
                    </svg></span></summary>
            <div class="Submenu-module_root_BoW-D-ZP">
                <div class="Submenu-module_main_nVQBDcyi">
                    <div class="Submenu-module_mainContent_ty0jQwt5">
                        <div class="Submenu-module_header_Z1yUzQOY">
                            <div class="Submenu-module_heading_zJ9RGmal">Zapier Automation Platform</div>
                            <p class="Submenu-module_description_JaFypvN1">No-code automation across 7,000+ apps</p>
                        </div>
                        <div class="Submenu-module_sections_XX2GHWNy">
                            <div>
                                <div class="SubmenuList-module_subtleHeading_B1Vmy62f" id="products-submenu-heading-products">
                                    Products</div>
                                <ul class="SubmenuList-module_list_YEbOYcq-"
                                    aria-labelledby="products-submenu-heading-products">
                                    <li class="SubmenuList-module_listItem_KN4VbC16"><a class="SubmenuList-module_link_xefbaqa7"
                                            href="/workflows" aria-label="Zaps">
                                            <div class="SubmenuList-module_icon_1h4ccAAD" data-background="cream"
                                                data-color="orange"><svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" size="20"
                                                    class="zapier-zinnia-icons__icon__8f1EW1A1" aria-hidden="false" role="img"
                                                    data-name="miscBoltAltFill" data-block="false" data-pointer-events="true"
                                                    data-animate-fill="true" style="--color:inherit">
                                                    <path
                                                        d="M8.99996 23.66L20.54 9.90997H15V0.159973L3.45996 13.91H8.99996V23.66Z"
                                                        fill="currentColor"></path>
                                                </svg></div>
                                            <div>
                                                <div class="SubmenuList-module_label_J8sNAfc3"><span>Zaps</span></div>
                                                <div class="SubmenuList-module_description_v--G85zn">Do-it-yourself automation
                                                    for workflows</div>
                                            </div>
                                        </a></li>
                                    <li class="SubmenuList-module_listItem_KN4VbC16"><a class="SubmenuList-module_link_xefbaqa7"
                                            href="/tables" aria-label="Tables">
                                            <div class="SubmenuList-module_icon_1h4ccAAD" data-background="cream"
                                                data-color="orange"><svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" size="20"
                                                    class="zapier-zinnia-icons__icon__8f1EW1A1" aria-hidden="false" role="img"
                                                    data-name="navTables" data-block="false" data-pointer-events="true"
                                                    data-animate-fill="true" style="--color:inherit">
                                                    <path d="M12 2.9978H21.0022V7.49897H12V2.9978Z" fill="currentColor"></path>
                                                    <path d="M12 7.49897L2.99756 7.4989V12.0001H11.9997L12 7.49897Z"
                                                        fill="currentColor"></path>
                                                    <path d="M11.9997 12.0001L21.0022 12V16.5012H12L11.9997 12.0001Z"
                                                        fill="currentColor"></path>
                                                    <path d="M2.99756 16.5011L12 16.5012L11.9997 21.0023H2.99756V16.5011Z"
                                                        fill="currentColor"></path>
                                                </svg></div>
                                            <div>
                                                <div class="SubmenuList-module_label_J8sNAfc3"><span>Tables</span></div>
                                                <div class="SubmenuList-module_description_v--G85zn">Databases designed for
                                                    workflows</div>
                                            </div>
                                        </a></li>
                                    <li class="SubmenuList-module_listItem_KN4VbC16"><a class="SubmenuList-module_link_xefbaqa7"
                                            href="/interfaces" aria-label="Interfaces">
                                            <div class="SubmenuList-module_icon_1h4ccAAD" data-background="cream"
                                                data-color="orange"><svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" size="20"
                                                    class="zapier-zinnia-icons__icon__8f1EW1A1" aria-hidden="false" role="img"
                                                    data-name="navInterfaces" data-block="false" data-pointer-events="true"
                                                    data-animate-fill="true" style="--color:inherit">
                                                    <path
                                                        d="M7.49989 7.50049V16.5001L16.4999 16.5001V21H3.00022L3 3H20.9999V16.5001L16.4999 16.5001L16.5 7.50049L7.49989 7.50049Z"
                                                        fill="currentColor"></path>
                                                </svg></div>
                                            <div>
                                                <div class="SubmenuList-module_label_J8sNAfc3"><span>Interfaces</span></div>
                                                <div class="SubmenuList-module_description_v--G85zn">Custom pages to power your
                                                    workflows</div>
                                            </div>
                                        </a></li>
                                </ul>
                            </div>
                            <div>
                                <div class="SubmenuList-module_subtleHeading_B1Vmy62f"
                                    id="products-submenu-heading-capabilities">Capabilities</div>
                                <ul class="SubmenuList-module_list_YEbOYcq-"
                                    aria-labelledby="products-submenu-heading-capabilities">
                                    <li class="SubmenuList-module_listItem_KN4VbC16"><a class="SubmenuList-module_link_xefbaqa7"
                                            href="/apps" aria-label="App integrations">
                                            <div>
                                                <div class="SubmenuList-module_label_J8sNAfc3"><span>App integrations</span>
                                                </div>
                                                <div class="SubmenuList-module_description_v--G85zn">Explore 7,000+ app
                                                    connections</div>
                                            </div>
                                        </a></li>
                                    <li class="SubmenuList-module_listItem_KN4VbC16"><a class="SubmenuList-module_link_xefbaqa7"
                                            href="/ai" aria-label="AI automation 🪄">
                                            <div>
                                                <div class="SubmenuList-module_label_J8sNAfc3"><span>AI automation 🪄</span>
                                                </div>
                                                <div class="SubmenuList-module_description_v--G85zn">Cutting-edge AI to upgrade
                                                    your workflows</div>
                                            </div>
                                        </a></li>
                                    <li class="SubmenuList-module_listItem_KN4VbC16"><a class="SubmenuList-module_link_xefbaqa7"
                                            href="/security-compliance" aria-label="Security">
                                            <div>
                                                <div class="SubmenuList-module_label_J8sNAfc3"><span>Security</span></div>
                                                <div class="SubmenuList-module_description_v--G85zn">Enterprise-grade security
                                                </div>
                                            </div>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="Submenu-module_footer_RN1Y7Vyf">
                        <ul class="Submenu-module_footerList_-NsF12ii">
                            <li><a class="Submenu-module_footerLink_9Jy4IGlQ" href="/templates"><svg width="14" height="14"
                                        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" size="14"
                                        class="zapier-zinnia-icons__icon__8f1EW1A1" aria-hidden="false" role="img"
                                        data-name="actionExplore" data-block="false" data-pointer-events="true"
                                        data-animate-fill="true" style="--color:inherit">
                                        <path
                                            d="M13.5898 13.59C13.9048 13.2754 14.1194 12.8745 14.2064 12.438C14.2934 12.0015 14.2491 11.5489 14.0788 11.1376C13.9086 10.7263 13.6202 10.3748 13.2502 10.1274C12.8801 9.88005 12.445 9.74802 11.9998 9.74802C11.5547 9.74802 11.1196 9.88005 10.7495 10.1274C10.3794 10.3748 10.0911 10.7263 9.92085 11.1376C9.75063 11.5489 9.70624 12.0015 9.79328 12.438C9.88033 12.8745 10.0949 13.2754 10.4098 13.59C10.8317 14.0113 11.4036 14.248 11.9998 14.248C12.5961 14.248 13.168 14.0113 13.5898 13.59ZM6.58984 6.59L3.77984 17L5.99984 16.35L8.19984 8.2L18.5898 5.41L15.7998 15.8L3.17984 19.18L2.58984 21.41L17.4398 17.41L21.4398 2.56L6.58984 6.59Z"
                                            fill="currentColor"></path>
                                    </svg><span>Explore templates</span></a></li>
                            <li><a class="Submenu-module_footerLink_9Jy4IGlQ" href="/use-cases"><svg width="14" height="14"
                                        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" size="14"
                                        class="zapier-zinnia-icons__icon__8f1EW1A1" aria-hidden="false" role="img"
                                        data-name="navBriefcase" data-block="false" data-pointer-events="true"
                                        data-animate-fill="true" style="--color:inherit">
                                        <path
                                            d="M22 6H17.47L14.95 3H9.05L6.53 6H2V8H20V14H13V12H11V14H4V10H2V21H22V6ZM9.14 6L9.98 5H14.01L14.85 6H9.14ZM20 19H4V16H11V17H13V16H20V19Z"
                                            fill="currentColor"></path>
                                    </svg><span>Explore use cases</span></a></li>
                            <li><a class="Submenu-module_footerLink_9Jy4IGlQ" href="/early-access"><svg width="14" height="14"
                                        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" size="14"
                                        class="zapier-zinnia-icons__icon__8f1EW1A1" aria-hidden="false" role="img"
                                        data-name="miscBoltAlt" data-block="false" data-pointer-events="true"
                                        data-animate-fill="true" style="--color:inherit">
                                        <path
                                            d="M11 12H7.74996L13 5.75V12H16.25L11 18.25V16H8.99996V23.75L20.54 10H15V0.25L3.45996 14H11V12Z"
                                            fill="currentColor"></path>
                                    </svg><span>Join Zapier Early Access</span></a></li>
                        </ul>
                    </div>
                </div>
                <aside class="Submenu-module_aside_1qzqnFiW">
                    <div>
                        <div class="SubmenuList-module_strongHeading_QHIXyD9N" id="products-submenu-heading-whats-new">
                            What&#x27;s new</div>
                        <ul class="SubmenuList-module_list_YEbOYcq-" aria-labelledby="products-submenu-heading-whats-new">
                            <li class="SubmenuList-module_listItem_KN4VbC16"><a class="SubmenuList-module_link_xefbaqa7"
                                    href="/canvas" aria-label="Canvas">
                                    <div class="SubmenuList-module_icon_1h4ccAAD" data-background="none" data-color="earth"><svg
                                            width="20" height="20" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" size="20"
                                            class="zapier-zinnia-icons__icon__8f1EW1A1" aria-hidden="false" role="img"
                                            data-name="navCanvas" data-block="false" data-pointer-events="true"
                                            data-animate-fill="true" style="--color:inherit">
                                            <path d="M21 3H3V7.5H16.5V21H21V3Z" fill="currentColor"></path>
                                            <path
                                                d="M14.2498 11.9999C14.2498 13.2426 13.2424 14.25 11.9998 14.25C10.7572 14.25 9.74981 13.2426 9.74981 11.9999C9.74981 10.7573 10.7572 9.74993 11.9998 9.74993C13.2424 9.74993 14.2498 10.7573 14.2498 11.9999Z"
                                                fill="currentColor"></path>
                                            <path
                                                d="M9.74981 16.5001C9.74981 17.7427 8.74245 18.7501 7.49981 18.7501C6.25717 18.7501 5.24981 17.7427 5.24981 16.5001C5.24981 15.2574 6.25717 14.2501 7.49981 14.2501C8.74245 14.2501 9.74981 15.2574 9.74981 16.5001Z"
                                                fill="currentColor"></path>
                                        </svg></div>
                                    <div>
                                        <div class="SubmenuList-module_label_J8sNAfc3"><span>Canvas</span><span
                                                class="Tag-module_root_cJ2O-lnU">Beta</span></div>
                                        <div class="SubmenuList-module_description_v--G85zn">Plan and map your workflows with AI
                                        </div>
                                    </div>
                                </a></li>
                            <li class="SubmenuList-module_listItem_KN4VbC16"><a class="SubmenuList-module_link_xefbaqa7"
                                    href="/ai/chatbot" aria-label="Chatbots">
                                    <div class="SubmenuList-module_icon_1h4ccAAD" data-background="none" data-color="earth"><svg
                                            width="20" height="20" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" size="20"
                                            class="zapier-zinnia-icons__icon__8f1EW1A1" aria-hidden="false" role="img"
                                            data-name="navAIChatbot" data-block="false" data-pointer-events="true"
                                            data-animate-fill="true" style="--color:inherit">
                                            <path d="M6.99999 2H2V6.99999H6.99999V2Z" fill="currentColor"></path>
                                            <path d="M21.9997 12H2.00049V17H21.9997V12Z" fill="currentColor"></path>
                                            <path d="M21.9997 12L7 12L6.99999 6.99999L12 7V2H22L21.9997 12Z"
                                                fill="currentColor"></path>
                                            <path d="M6.99951 22V17H11.9995L6.99951 22Z" fill="currentColor"></path>
                                        </svg></div>
                                    <div>
                                        <div class="SubmenuList-module_label_J8sNAfc3"><span>Chatbots</span><span
                                                class="Tag-module_root_cJ2O-lnU">Beta</span></div>
                                        <div class="SubmenuList-module_description_v--G85zn">Answer customer questions with AI
                                            chatbots</div>
                                    </div>
                                </a></li>
                            <li class="SubmenuList-module_listItem_KN4VbC16"><a class="SubmenuList-module_link_xefbaqa7"
                                    href="/agents" aria-label="Agents">
                                    <div class="SubmenuList-module_icon_1h4ccAAD" data-background="none" data-color="earth"><svg
                                            width="20" height="20" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" size="20"
                                            class="zapier-zinnia-icons__icon__8f1EW1A1" aria-hidden="false" role="img"
                                            data-name="navCentral" data-block="false" data-pointer-events="true"
                                            data-animate-fill="true" style="--color:inherit">
                                            <g clip-path="url(#clip0_36933_10681)">
                                                <rect x="3" y="3" width="4.5" height="4.5" fill="currentColor"></rect>
                                                <rect x="16.5" y="3" width="4.5" height="4.5" fill="currentColor"></rect>
                                                <rect x="16.5" y="16.5001" width="4.5" height="4.5" fill="currentColor"></rect>
                                                <rect x="3" y="16.5001" width="4.5" height="4.5" fill="currentColor"></rect>
                                                <rect x="7.50049" y="7.49988" width="9" height="9" fill="currentColor"></rect>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_36933_10681">
                                                    <rect width="18" height="18" fill="white" transform="translate(3 3)"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg></div>
                                    <div>
                                        <div class="SubmenuList-module_label_J8sNAfc3"><span>Agents</span><span
                                                class="Tag-module_root_cJ2O-lnU">Beta</span></div>
                                        <div class="SubmenuList-module_description_v--G85zn">Create your own AI assistants for
                                            any task</div>
                                    </div>
                                </a></li>
                            <li class="SubmenuList-module_listItem_KN4VbC16"><a class="SubmenuList-module_link_xefbaqa7"
                                    href="/functions" aria-label="Functions">
                                    <div class="SubmenuList-module_icon_1h4ccAAD" data-background="none" data-color="earth"><svg
                                            width="20" height="20" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" size="20"
                                            class="zapier-zinnia-icons__icon__8f1EW1A1" aria-hidden="false" role="img"
                                            data-name="navFunctions" data-block="false" data-pointer-events="true"
                                            data-animate-fill="true" style="--color:inherit">
                                            <path
                                                d="M6.57167 12L11.1167 16.545L7.58167 20.0817L2 14.5V9.5L9.5 2H14.5L15.535 3.035L6.57167 12Z"
                                                fill="currentColor"></path>
                                            <path
                                                d="M12.8832 7.45504L16.4198 3.92004L21.9998 9.50004V14.5L14.4998 22H9.49984L8.46484 20.965L17.4282 12L12.8832 7.45504Z"
                                                fill="currentColor"></path>
                                        </svg></div>
                                    <div>
                                        <div class="SubmenuList-module_label_J8sNAfc3"><span>Functions</span><span
                                                class="Tag-module_root_cJ2O-lnU">Beta</span></div>
                                        <div class="SubmenuList-module_description_v--G85zn">Code your workflows in a web IDE
                                        </div>
                                    </div>
                                </a></li>
                            <li class="SubmenuList-module_listItem_KN4VbC16"><a class="SubmenuList-module_link_xefbaqa7"
                                    href="/mcp" aria-label="Zapier MCP">
                                    <div class="SubmenuList-module_icon_1h4ccAAD" data-background="none"><img
                                            src="https://res.cloudinary.com/zapier-media/image/upload/v1743546142/mcp_retev0.svg"
                                            alt="MCP-logo" loading="lazy" width="20" height="20" /></div>
                                    <div>
                                        <div class="SubmenuList-module_label_J8sNAfc3"><span>Zapier MCP</span><span
                                                class="Tag-module_root_cJ2O-lnU">Beta</span></div>
                                        <div class="SubmenuList-module_description_v--G85zn">Connect AI agents to thousands of
                                            apps</div>
                                    </div>
                                </a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </details>
    </li>
    <li>
        <!-- Solutions -->
    </li>
    <li>
        <!-- Resources -->
    </li>
</ul>